.trail {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(255, 0, 0);
    pointer-events: none;
    z-index: 1001;
}

#meme-cylinder-container {
    perspective: 1000px;
    width: 200px;
    height: 200px;
    margin: 0px 50px;
}

#meme-cylinder {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.meme-image {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 5px;
    top: 55px;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}